{% extends 'base.html.twig' %}
{% block content %}
    {{ parent() }}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success col-12 text-center">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('deleted') %}
        <div class="alert alert-success col-12 text-center">
            {{ message }}
        </div>
    {% endfor %}
    <div class="card-group">
        <table class="table table-bordered table-hover table-gray">
            <thead>
            <tr>
                <td>Naam</td>
                <td>Kosten</td>
                <td>Bewerk</td>
            </tr>
            </thead>
            <tbody>
            {% for training in trainingen %}
                <tr>
                    <td>{{ training.naam }}</td>
                    <td>&euro;{{ training.costs }}</td>
                    <td>
                        <a href="training/{{ training.id }}/edit" class="btn btn-outline-primary btn-sm text-black float-left mr-2">Bewerk</a>
                        <form method="post">
                            <button name="delete" value="{{ training.id }}" class="btn btn-outline-danger btn-sm text-black">Verwijder</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
