{% extends 'base.html.twig' %}

{% block title %}Training index{% endblock %}

{% block content %}
    <div class="container card-body">
        <h1>Training index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Naam</th>
                <th>Duur (minuten)</th>
                <th>Kosten</th>
                <th>Afbeelding</th>
                <th>Acties</th>
            </tr>
            </thead>
            <tbody>
            {% for training in trainings %}
                <tr>
                    <td>{{ training.naam }}</td>
                    <td>{{ training.duration }}</td>
                    <td>{{ training.costs }}</td>
                    <td>{{ training.imageFilename }}</td>
                    <td>
                        <a class="btn btn-outline-primary btn-sm" href="{{ path('admin_training_show', {'id': training.id}) }}">Details</a>
                        <a class="btn btn-outline-primary btn-sm" href="{{ path('admin_training_edit', {'id': training.id}) }}">Bewerk</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Geen gegevens</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-success" href="{{ path('admin_training_new') }}">Nieuwe training</a>
    </div>
{% endblock %}
