<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
    {% endblock %}
</head>
<body class="bg-light">
{% block body %}
    {% block header %}
        <div class="container-fluid shadow-sm">
            <div class="container" id="header">
                <img src="{{ asset('img/logo.png') }}" alt="">
                <span class="clearfix"></span>
            </div>
            <hr class="m-0 p-0">
            <nav class="container navbar navbar-expand-lg navbar-light bg-light py-1">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        {% block nav %}
                            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="nav-item mr-2">
                                    <a class="nav-link btn btn-outline-primary mr-2 my-0 shadow-sm"
                                       href="{{ path('homepage') }}">Home</a>
                                </li>

                                <li class="nav-item mr-2">
                                    <a class="nav-link btn btn-outline-primary mr-2 my-0 shadow-sm"
                                       href="{{ path('training_aanbod') }}">Training aanbod</a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a class="nav-link btn btn-outline-primary mr-2 my-0 shadow-sm"
                                       href="{{ path('gedragsregels') }}">Gedragsregels</a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a class="nav-link btn btn-outline-primary mr-2 my-0 shadow-sm"
                                       href="{{ path('over_ons') }}">Locatie & contact</a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a class="nav-link btn btn-outline-primary mr-2 my-0 shadow-sm"
                                       href="{{ path('bezoeker_registreer') }}">Lid worden</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                                <li class="nav-item mr-2">
                                    <a class="nav-link btn btn-outline-primary mr-2 my-0 shadow-sm"
                                       href="{{ path('lid_homepage') }}">Planning</a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a class="nav-link btn btn-outline-primary mr-2 my-0 shadow-sm"
                                       href="{{ path('lid_training_agenda') }}">Agenda</a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a class="nav-link btn btn-outline-primary mr-2 my-0 shadow-sm"
                                       href="{{ path('lid_profiel_edit') }}">Profiel</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_INSTRUCTOR') %}
                                <li class="nav-item mr-2">
                                    <a class="nav-link btn btn-outline-primary mr-2 my-0 shadow-sm"
                                       href="{{ path('medewerker_lesson_index') }}">Lessen</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item mr-2">
                                    <a class="nav-link btn btn-outline-primary mr-2 my-0 shadow-sm"
                                       href="{{ path('admin_instructeur_index') }}">Instructeurs</a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a class="nav-link btn btn-outline-primary mr-2 my-0 shadow-sm"
                                       href="{{ path('admin_lid_index') }}">Leden</a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a class="nav-link btn btn-outline-primary mr-2 my-0 shadow-sm"
                                       href="{{ path('admin_training_index') }}">Trainingsvormen</a>
                                </li>
                            {% endif %}
                        {% endblock %}
                    </ul>
                    <div class="float-right">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if app.user %}
                                Ingelogd als: {{ app.user.username }} ({{ app.user.roles[0] }}), <a class="btn btn-outline-success"
                                                                                 href="{{ path('app_logout') }}">Logout</a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('app_login') }}" class="btn btn-outline-success">Login</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    {% endblock %}
    <div class="container card p-0 my-3">
        {% block card %}
            <div class="card-header p-0 shadow-md">
                <div class="row justify-content-between">
                    <img class="img col-4 px-1" src="{{ asset('img/Stootzak training.jpg') }}" alt="">
                    <img class="img col-4 px-0" src="{{ asset('img/Kickboksen.jpg') }}" alt="">
                    <img class="img col-4 px-1" src="{{ asset('img/MMA.jpg') }}" alt="">
                </div>
            </div>
            {% block content %}
            {% endblock %}
        {% endblock %}
    </div>
    <footer class="container-fluid bg-dark py-4">
        {% block footer %}
            <div class="container text-center">
                <p>Training Factory Den Haag - 010 319 2487</p>
                <p class="text-white m-0">developed by NewApps</p>
            </div>
        {% endblock %}
    </footer>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
