<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/menu.css') }}">
    {% endblock %}
</head>
<body class="bg-light">
{% block body %}
    {% block header %}
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navigatie">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        {% block nav %}
                            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="nav-item mr-2">
                                    <a class="nav-link mr-2 my-0"
                                       href="{{ path('homepage') }}">Home</a>
                                </li>

                                <li class="nav-item mr-2">
                                    <a class="nav-link mr-2 my-0"
                                       href="{{ path('training_aanbod') }}">Training aanbod</a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a class="nav-link mr-2 my-0"
                                       href="{{ path('gedragsregels') }}">Gedragsregels</a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a class="nav-link mr-2 my-0"
                                       href="{{ path('over_ons') }}">Locatie & contact</a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a class="nav-link mr-2 my-0"
                                       href="{{ path('bezoeker_registreer') }}">Lid worden</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_USER') %}
                                <li class="nav-item mr-2">
                                    <a class="nav-link mr-2 my-0"
                                       href="{{ path('lid_homepage') }}">Planning</a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a class="nav-link mr-2 my-0"
                                       href="{{ path('lid_training_agenda') }}">Agenda</a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a class="nav-link mr-2 my-0"
                                       href="{{ path('lid_profiel_edit') }}">Profiel</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_INSTRUCTOR') %}
                                <li class="nav-item mr-2">
                                    <a class="nav-link mr-2 my-0"
                                       href="{{ path('medewerker_lesson_index') }}">Lessen</a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a class="nav-link mr-2 my-0"
                                       href="{{ path('medewerker_registrations') }}">Registraties</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item mr-2">
                                    <a class="nav-link mr-2 my-0"
                                       href="{{ path('admin_instructeur_index') }}">Instructeurs</a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a class="nav-link mr-2 my-0"
                                       href="{{ path('admin_lid_index') }}">Leden</a>
                                </li>
                                <li class="nav-item mr-2">
                                    <a class="nav-link mr-2 my-0"
                                       href="{{ path('admin_training_index') }}">Trainingsvormen</a>
                                </li>
                            {% endif %}
                        {% endblock %}
                    </ul>
                    <div class="float-right text-light">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if app.user %}
                                Welkom {{ app.user.firstName }} {{ app.user.prePosition }} {{ app.user.lastName }} <a
                                class="btn btn-outline-success"
                                href="{{ path('app_logout') }}">Logout</a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('app_login') }}" class="btn btn-outline-success">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        <div class="container-fluid shadow py-5 header">
            <div class="container py-5">
                <img src="{{ asset('img/logo.png') }}" alt="">
                <span class="clearfix"></span>
            </div>
        </div>
    {% endblock %}
    <div class="container card p-0 my-3">
        {% block card %}
            <div class="card-header p-0 shadow-md">
                <div class="row justify-content-between">
                    <img class="img col-4 px-1" src="{{ asset('img/Stootzak training.jpg') }}" alt="">
                    <img class="img col-4 px-0" src="{{ asset('img/Kickboksen.jpg') }}" alt="">
                    <img class="img col-4 px-1" src="{{ asset('img/MMA.jpg') }}" alt="">
                </div>
            </div>
            {% block content %}
            {% endblock %}
        {% endblock %}
    </div>
    <footer class="container-fluid bg-dark py-4">
        {% block footer %}
            <div class="container text-center">
                <p>Training Factory Den Haag - 010 319 2487</p>
                <p class="text-white m-0">developed by NewApps</p>
            </div>
        {% endblock %}
    </footer>
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/menu.js') }}"></script>
{% endblock %}
</body>
</html>
