{% extends 'base.html.twig' %}

{% block title %}Bewerken: {{ person.firstName ~ " " ~ person.prePosition ~ " " ~ person.lastName }}{% endblock %}

{% block content %}
    <div class="card-body">
        <h1>Persoon bewerken: {{ person.firstName ~ " " ~ person.prePosition ~ " " ~ person.lastName }}</h1>

        {{ include('beheerder/person/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('admin_lid_index') }}">back to list</a>

        {{ include('beheerder/person/_delete_form.html.twig') }}
    </div>
{% endblock %}
