{% extends 'base.html.twig' %}

{% block content %}
    {{ parent() }}
    <div class="card-body">
        <div class="container accordion">
            <div class="nav">
                <button class="btn btn-sm btn-outline-primary mr-2" data-toggle="collapse" aria-expanded="false"
                        aria-controls="lesson_1"
                        data-target="#lesson_1">{{ "now"|date("D d-m-Y") }}</button>
                <button class="btn btn-sm btn-outline-primary mr-2" data-toggle="collapse" aria-expanded="false"
                        aria-controls="lesson_2"
                        data-target="#lesson_2">{{ "tomorrow"|date("D d-m-Y") }}</button>
                <button class="btn btn-sm btn-outline-primary mr-2" data-toggle="collapse" aria-expanded="false"
                        aria-controls="lesson_3"
                        data-target="#lesson_3">{{ "now"|date_modify("+2 day")|date("D d-m-Y") }}</button>
                <button class="btn btn-sm btn-outline-primary mr-2" data-toggle="collapse" aria-expanded="false"
                        aria-controls="lesson_4"
                        data-target="#lesson_4">{{ "now"|date_modify("+3 day")|date("D d-m-Y") }}</button>
                <button class="btn btn-sm btn-outline-primary mr-2" data-toggle="collapse" aria-expanded="false"
                        aria-controls="lesson_5"
                        data-target="#lesson_5">{{ "now"|date_modify("+4 day")|date("D d-m-Y") }}</button>
                <button class="btn btn-sm btn-outline-primary mr-2" data-toggle="collapse" aria-expanded="false"
                        aria-controls="lesson_6"
                        data-target="#lesson_6">{{ "now"|date_modify("+5 day")|date("D d-m-Y") }}</button>
                <button class="btn btn-sm btn-outline-primary mr-2" data-toggle="collapse" aria-expanded="false"
                        aria-controls="lesson_7"
                        data-target="#lesson_7">{{ "now"|date_modify("+6 day")|date("D d-m-Y") }}</button>
            </div>
            <div class="collapse show" aria-labelledby="lesson_1" id="lesson_1" data-parent="#accordion">
                <h3>{{ "now"|date("D d-m-Y") }}</h3>
                {% for les in lessen %}
                    {% if les.dateTime|date('d-m-Y') is same as('now'|date('d-m-Y')) %}
                        {{ les.training.naam }}:
                        {{ les.dateTime|date("d-m-Y") }}. Tijdstip:
                        {{ les.dateTime|date("H:i") }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="collapse" aria-labelledby="lesson_2" id="lesson_2" data-parent="#accordion">
                <h3>{{ "now"|date_modify("+1 day")|date("D d-m-Y") }}</h3>
                {% for les in lessen %}
                    {% if (les.dateTime|date('d-m-Y')) is same as('now'|date_modify('+1 day')|date('d-m-Y')) %}
                        {{ les.training.naam }}:
                        {{ les.dateTime|date("d-m-Y") }}. Tijdstip:
                        {{ les.dateTime|date("H:i") }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="collapse" aria-labelledby="lesson_3" id="lesson_3" data-parent="#accordion">
                <h3>{{ "now"|date_modify("+2 day")|date("D d-m-Y") }}</h3>
                {% for les in lessen %}
                    {% if (les.dateTime|date('d-m-Y')) is same as('now'|date_modify('+2 day')|date('d-m-Y')) %}
                        {{ les.training.naam }}:
                        {{ les.dateTime|date("d-m-Y") }}. Tijdstip:
                        {{ les.dateTime|date("H:i") }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="collapse" aria-labelledby="lesson_4" id="lesson_4" data-parent="#accordion">
                <h3>{{ "now"|date_modify("+3 day")|date("D d-m-Y") }}</h3>
                {% for les in lessen %}
                    {% if (les.dateTime|date('d-m-Y')) is same as('now'|date_modify('+3 day')|date('d-m-Y')) %}
                        {{ les.training.naam }}:
                        {{ les.dateTime|date("d-m-Y") }}. Tijdstip:
                        {{ les.dateTime|date("H:i") }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="collapse" aria-labelledby="lesson_5" id="lesson_5" data-parent="#accordion">
                <h3>{{ "now"|date_modify("+4 day")|date("D d-m-Y") }}</h3>
                {% for les in lessen %}
                    {% if (les.dateTime|date('d-m-Y')) is same as('now'|date_modify('+4 day')|date('d-m-Y')) %}
                        {{ les.training.naam }}:
                        {{ les.dateTime|date("d-m-Y") }}. Tijdstip:
                        {{ les.dateTime|date("H:i") }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="collapse" aria-labelledby="lesson_6" id="lesson_6" data-parent="#accordion">
                <h3>{{ "now"|date_modify("+5 day")|date("D d-m-Y") }}</h3>
                {% for les in lessen %}
                    {% if (les.dateTime|date('d-m-Y')) is same as('now'|date_modify('+5 day')|date('d-m-Y')) %}
                        {{ les.training.naam }}:
                        {{ les.dateTime|date("d-m-Y") }}. Tijdstip:
                        {{ les.dateTime|date("H:i") }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="collapse" aria-labelledby="lesson_7" id="lesson_7" data-parent="#accordion">
                <h3>{{ "now"|date_modify("+6 day")|date("D d-m-Y") }}</h3>
                {% for les in lessen %}
                    {% if (les.dateTime|date('d-m-Y')) is same as('now'|date_modify('+6 day')|date('d-m-Y')) %}
                        {{ les.training.naam }}:
                        {{ les.dateTime|date("d-m-Y") }}. Tijdstip:
                        {{ les.dateTime|date("H:i") }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
