{% extends 'base.html.twig' %}

{# Initialiseren van variabelen. #}
{% set count1 = 0 %}
{% set count2 = 0 %}
{% set count3 = 0 %}
{% set count4 = 0 %}
{% set count5 = 0 %}
{% set count6 = 0 %}
{% set count7 = 0 %}

{# Keren tellen waarin een les staat gepland op elke dag #}
{% for les in lessen %}
    {% if les.dateTime|date('d-m-Y') is same as('now'|date('d-m-Y')) %}
        {% set count1 = count1 + 1 %}
    {% endif %}
    {% if (les.dateTime|date('d-m-Y')) is same as('now'|date_modify('+1 day')|date('d-m-Y')) %}
        {% set count2 = count2 + 1 %}
    {% endif %}
    {% if (les.dateTime|date('d-m-Y')) is same as('now'|date_modify('+2 day')|date('d-m-Y')) %}
        {% set count3 = count3 + 1 %}
    {% endif %}
    {% if (les.dateTime|date('d-m-Y')) is same as('now'|date_modify('+3 day')|date('d-m-Y')) %}
        {% set count4 = count4 + 1 %}
    {% endif %}
    {% if (les.dateTime|date('d-m-Y')) is same as('now'|date_modify('+4 day')|date('d-m-Y')) %}
        {% set count5 = count5 + 1 %}
    {% endif %}
    {% if (les.dateTime|date('d-m-Y')) is same as('now'|date_modify('+5 day')|date('d-m-Y')) %}
        {% set count6 = count6 + 1 %}
    {% endif %}
    {% if (les.dateTime|date('d-m-Y')) is same as('now'|date_modify('+6 day')|date('d-m-Y')) %}
        {% set count7 = count7 + 1 %}
    {% endif %}
{% endfor %}

{% block content %}
    {{ parent() }}
    <div class="card-body">
        <div class="nav">
            <button class="btn btn-sm btn-primary mr-2 active" data-toggle="tab" aria-selected="true"
                    aria-controls="lesson_1" role="tab" data-target="#lesson_1">
                {{ "now"|date("D d-m-Y") }}
                <span class="badge badge-light ml-1">{{ count1 }}</span>
            </button>
            <button class="btn btn-sm btn-primary mr-2" data-toggle="tab" aria-selected="false"
                    aria-controls="lesson_2" role="tab" data-target="#lesson_2">
                {{ "tomorrow"|date("D d-m-Y") }}
                <span class="badge badge-light ml-1">{{ count2 }}</span>
            </button>
            <button class="btn btn-sm btn-primary mr-2" data-toggle="tab" aria-selected="false"
                    aria-controls="lesson_3" role="tab" data-target="#lesson_3">
                {{ "now"|date_modify("+2 day")|date("D d-m-Y") }}
                <span class="badge badge-light ml-1">{{ count3 }}</span>
            </button>
            <button class="btn btn-sm btn-primary mr-2" data-toggle="tab" aria-selected="false"
                    aria-controls="lesson_4" role="tab" data-target="#lesson_4">
                {{ "now"|date_modify("+3 day")|date("D d-m-Y") }}
                <span class="badge badge-light ml-1">{{ count4 }}</span>
            </button>
            <button class="btn btn-sm btn-primary mr-2" data-toggle="tab" aria-selected="false"
                    aria-controls="lesson_5" role="tab" data-target="#lesson_5">
                {{ "now"|date_modify("+4 day")|date("D d-m-Y") }}
                <span class="badge badge-light ml-1">{{ count5 }}</span>
            </button>
            <button class="btn btn-sm btn-primary mr-2" data-toggle="tab" aria-selected="false"
                    aria-controls="lesson_6" role="tab" data-target="#lesson_6">
                {{ "now"|date_modify("+5 day")|date("D d-m-Y") }}
                <span class="badge badge-light ml-1">{{ count6 }}</span>
            </button>
            <button class="btn btn-sm btn-primary mr-2" data-toggle="tab" aria-selected="false"
                    aria-controls="lesson_7" role="tab" data-target="#lesson_7">
                {{ "now"|date_modify("+6 day")|date("D d-m-Y") }}
                <span class="badge badge-light ml-1">{{ count7 }}</span>
            </button>
        </div>
        <div class="container tab-content">
            {{ include('deelnemer/agenda_day.html.twig') }}
        </div>
    </div>
{% endblock %}
